@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 100 900; /* Faixa de pesos disponível */
	font-stretch: 75% 100%; /* Define a variação de largura */
	font-style: normal;
}

@import 'tailwindcss';
@plugin "daisyui" {
	themes: corporate --default;
	themes: all;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
}
.animate-slideIn {
	animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
	from {
		transform: translateX(-50%);
	}
	to {
		transform: translateX(0);
	}
}
