@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
	themes: corporate --default, dracula --prefersdark;
	themes: all;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
}
